/*=========================================
            COLORS
=========================================*/

$primary: #0d6efd;
$primary-dark: #0b5ed7;

$secondary: #6c757d;

$dark: #2c3e50;
$text: #444;

$light: #f8f9fa;
$white: #ffffff;

$border: #dee2e6;

$shadow-color: rgba(0, 0, 0, 0.08);

/*=========================================
            TYPOGRAPHY
=========================================*/

$font-family: "Poppins", sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

/*=========================================
            FONT SIZES
=========================================*/

$fs-xs: .8rem;
$fs-sm: .9rem;
$fs-base: 1rem;
$fs-lg: 1.2rem;
$fs-xl: 1.5rem;
$fs-2xl: 2rem;
$fs-3xl: 2.8rem;
$fs-4xl: 3.3rem;

/*=========================================
            BORDER RADIUS
=========================================*/

$radius-sm: 6px;
$radius: 10px;
$radius-lg: 18px;
$radius-xl: 50px;

/*=========================================
            SHADOWS
=========================================*/

$shadow-sm: 0 5px 20px rgba(0,0,0,.08);

$shadow-md: 0 10px 30px rgba(0,0,0,.12);

$shadow-lg: 0 18px 45px rgba(13,110,253,.15);

/*=========================================
            TRANSITION
=========================================*/

$transition: .3s ease;

/*=========================================
            CONTAINER
=========================================*/

$container-width: 1320px;